<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/login-full.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}" />
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div id="login">
        <form class="form-login" role="form" action="" method="post">
            {% csrf_token %}
            <span class="fa fa-user"></span>
            <input type="text" name="username" placeholder="Username" required="True">

            <span class="fa fa-lock"></span>
            <input type="password" name="password" placeholder="Password" required="True">

            <input type="submit" value="Login">
            <a href="{% url 'home:register' %}">click here to register</a>
        </form>
    </div>
    <script src="https://use.fontawesome.com/618e19295e.js"></script>
</body>

</html>