<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/login-full.css' %}" />
</head>

<body>
    <div id="login">
        <form class="form-login" role="form" action="" method="post">
            {% csrf_token %}
            <span class="fa fa-user"></span>
            <input type="text" name="username" placeholder="Username">

            <span class="fa fa-lock"></span>
            <input type="password" name="password" placeholder="Password">

            <input type="submit" value="Login">
            <a href="">click here to register</a>
        </form>
    </div>
    <script src="https://use.fontawesome.com/618e19295e.js"></script>
</body>

</html>