{% extends 'home/member_profile_base.html' %} {% block left-nav %}
{% if user.can_edit %}
<div class="avatar">
    <a href="{% url 'home:member-profile-update-st' user.rid %}"><img class="avatar-img" src="{{user.propic.url}}" /></a>
</div>
{% else %}
<div class="avatar">
    <a href="#"><img class="avatar-img" src="{{user.propic.url}}" /></a>
</div>
{% endif %}
<div class="username">
    <h4>{{user.username}}</h4>
</div>
<li><a href="{% url 'home:member-profile-st' user.rid %}"><i class="fa fa-list-alt fa-pad" aria-hidden="true"></i>Student info</a></li>
<li><a href="" class="active"><i class="fa fa-desktop fa-pad" aria-hidden="true"></i>Online contest</a></li>
<li><a href=""><i class="fa fa-laptop fa-pad" aria-hidden="true"></i>Sust contest</a></li>
<li><a href="{% url 'home:member-list' %}"><i class="fa fa-users fa-pad" aria-hidden="true"></i>members</a></li>
<li><a href="{% url 'home:index' %}"><i class="fa fa-home fa-pad" aria-hidden="true"></i>home</a></li>
{% endblock %} {% block body %}
<div class="container topbottom">

    {% if user.can_edit %}
    <div class="edit-menu">
        <a href="{% url 'home:member-profile-update-oc' user.id %}"><i class="fa fa-edit fa-lg e-btn">edit</i></a>
    </div>
    {% endif %}
    <div class="row">
        <div class="title">
            <h3>Uva<span class="two-color"> Oj</span></h3></div>
        <div class="border"></div>
        <div class="info-1 col-md-6">
            <label>Username</label> : {{user.uva}}</br>
            <label>Name</label> : {{user.uvadetails.name}}</br>
            <label>Rank</label> : {{user.uvadetails.rank}}</br>
            <label>Solved</label> : {{user.uvadetails.ac}}</br>
            <label>Submission</label> : {{user.uvadetails.nos}}</br>
            {{user.uvadetails.last}}</br>
        </div>
        <div class="info-1 col-md-6">
          <a class="more" href="#" data-toggle="modal" data-target="#100">view solved problems</a>
            <div class="modal fade" id="100" role="dialog">
                <div class="modal-dialog modal-content">
                    <!-- Modal content-->
                    <h4 class="modal-title">solved by {{user.uva}}</h4>
                    {% for r in user.uvadetails.list %}<p>{{ r }}</p>{% endfor %}
                    <!-- //Modal content-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="title">
            <h3>Code<span class="two-color">forces</span></h3></div>
        <div class="border"></div>
        <div class="info-1 col-md-6">
            <label>Handle</label> : {{user.codeforces}}</br>
            <label>Name</label> : {{user.cfdetails.name}}</br>
            <label>Current Rank</label> : {{user.cfdetails.cur}}</br>
            <label>Maxed Rank</label> : {{user.cfdetails.max}}</br>
        </div>
        <div class="info-1 col-md-6">
          <a class="more" href="#" data-toggle="modal" data-target="#200">view contest info</a>
            <div class="modal fade" id="200" role="dialog">
                <div class="modal-dialog modal-content">
                    <!-- Modal content-->
                    <h4 class="modal-title">Contest info of {{user.codeforces}}</h4>
                    {% for r in user.cfdetails.list %}<p>{{r}}</p>{% endfor %}
                    <!-- //Modal content-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="title">
            <h3>Top<span class="two-color">coder</span></h3></div>
        <div class="border"></div>
        <div class="info-1 col-md-6">
            <label>Handle</label> : {{user.topcode}}
        </div>
        <div class="info-1 col-md-6">

        </div>
    </div>
</div>
</div>
{% endblock %}
