{% extends 'home/member_profile_base.html' %} {% block left-nav %}
<div class="avatar">
    <a href="{% url 'home:member-profile-update-st' user.id %}"><img class="avatar-img" src="{{user.propic.url}}" /></a>
</div>
<div class="username">
    <h4>{{user.username}}</h4>
</div>
<li><a href="" class="active"><i class="fa fa-list-alt fa-pad" aria-hidden="true"></i>Student info</a></li>
<li><a href="{% url 'home:member-profile-oc' user.id %}"><i class="fa fa-desktop fa-pad" aria-hidden="true"></i>Online contest</a></li>
<li><a href=""><i class="fa fa-laptop fa-pad" aria-hidden="true"></i>Sust contest</a></li>
<li><a href="{% url 'home:member-list' %}"><i class="fa fa-users fa-pad" aria-hidden="true"></i>members</a></li>
<li><a href="{% url 'home:index' %}"><i class="fa fa-home fa-pad" aria-hidden="true"></i>home</a></li>
{% endblock %} {% block body %}
<div class="container topbottom">

    {% if user.can_edit %}
    <div class="edit-menu">
        <a href="{% url 'home:member-profile-update-st' user.id %}"><i class="fa fa-edit fa-lg e-btn">edit</i></a>
    </div>
    {% endif %}
    <div class="row">
        <div class="title">
            <h3>Basic<span class="two-color"> Info</span></h3></div>
        <div class="border"></div>
        <div class="info-1 col-md-6">
            <h4>Account Informataion:</h4>
            <label>Username</label> : {{user.username}}<br/>
            <label>Email</label> : {{user.email}}<br />
            <label>status</label> : {% if user.status %} current Student {% else %} ex-student {% endif %}
        </div>
        <div class="info-1 col-md-6">
            <h4>Student Informataion:</h4>
            <label>Name </label> : {{user.name}}<br/>
            <label>Registration no </label> : {{user.reg}}<br />
            <label>Session </label> : {{user.session}}
        </div>
    </div>
    <div class="row">
        <div class="title">
            <h3>Contact<span class="two-color"> Info</span></h3></div>
        <div class="border"></div>
        <div class="info-1 col-md-6">
            <label>Phone</label> : {{user.phone}}<br/>
            <label>woring at</label> : {{user.working}}<br/>
            <label>Current address</label> :</br>
            {{user.current_add}}<br/>
        </div>
        <div class="info-1 col-md-6">
            <h4></h4>
            <label>Permanent address </label> : <br /> {{user.permanent_add}}
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="title">
            <h3>Ab<span class="two-color">out</span></h3></div>
        <div class="border"></div>
        <div class="info-1 col-md-12">
            {{user.about}}
        </div>
    </div>
</div>
</div>
{% endblock %}
