<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>member profile</title>
</head>

<body>
    <nav class="">
        <ul id="nav" class="">
            <li>
                <a href="{% url 'home:member-profile-st' user.rid %}">Student info</a></li>
            <li><a href="# " class="active ">Online contest</a></li>
            <li><a href=" ">Sust contest</a></li>
        </ul>
    </nav>
    <a href="{% url 'home:member-profile-update-oc' user.id %}">edit</a>
    <ul>
        <label>codeforces : </label>
        <li>{{user.codeforces}}</li>
        <label>topcode : </label>
        <li>{{user.topcode}}</li>
        <label>hackerrank : </label>
        <li>{{user.hackerrank}}</li>
        <label>uva : </label>
        <li>{{user.uva}}</li>
    </ul>
</body>

</html>
