<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ACM LAB,SUST</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/reg.css' %}" />
</head>

<body>
  <!-- multistep form -->

  <form id="msform" role="form" action="" method="post">
  {% csrf_token %}
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Account Setup</li>
    <li>Student Profiles</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Create your account</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <input type="text" name="username" placeholder="username" required="True"/>
    <input type="email" name="email" placeholder="Email" required="True"/>
    <input type="password" name="password" placeholder="Password" required="True"/>
    <input type="button" name="next" class="next action-button" value="Next" />
    <a href="{% url 'home:login' %}"><p>already have an account? login</p></a>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Student Profiles</h2>
    <h3 class="fs-subtitle">Your student info</h3>
    <input type="text" name="name" placeholder="name" required="True"/>
    <input type="text" name="reg" placeholder="reg_num" required="True"/>
    <input type="text" name="session" placeholder="session" required="True"/>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
    <a href="{% url 'home:login' %}"><p>already have an account? login</p></a>
  </fieldset>
</form>
  {% load staticfiles %}
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
  <script type="text/javascript" src="{% static 'home/js/reg.js' %}"></script>
</body>
</html>


