.about-form {
    background: #2B2C30;
    color: gainsboro;
    align-content: center;
    border: 1px solid gainsboro transparent;
}

.pad {
    margin-bottom: 10px;
}

.pad-dec {
    margin-top: -50px;
}

.vertical-sett {
    text-align: right;
}

textarea {
    width: 600px;
    outline: none !important;
    border-color: gainsboro;
    box-shadow: 2px 2px 5px #fff;
    background: transparent;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid gainsboro;
    width: 300px;
}

input[type=text]:focus {
    border-bottom: 1px solid #6CB670;
}

input[type=text]:hover {
    border-bottom: 1px solid #6CB670;
}