.login-style {
    width: 250px;
    background: rgba(0, 0, 0, 0.4);
    color: gainsboro;
}

.logout-style {
    width: 200px;
    background: rgba(0, 0, 0, 0.4);
    color: gainsboro;
}

.logout-menu {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    width: 90%;
    margin-left: 10px;
}

.logout-menu a {
    font-family: 'Federo', sans-serif;
    color: gainsboro;
    text-decoration: none;
    padding-bottom: 10px;
    opacity: .5;
}

.logout-menu a:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
}

.btn-ov {
    width: 100%;
    height: auto;
    margin-top: -10px;
    margin-right: 4px;
}

.text-bottom p {
    text-align: center;
    color: gainsboro;
    opacity: .5;
}

.text-bottom p:hover {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
    opacity: 1;
}

.form-group {
    padding: 2px;
    margin: 3px;
}


/* mobile fix */

@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }
    .dropdown-lr label {
        color: #eee;
    }
}