<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contest</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}" />
    <script src="https://use.fontawesome.com/618e19295e.js"></script>
</head>

<body class="about-form">
    <div class="fluid-container">
        <div class="row">
            <div class="title text-center">
                <h3>Add <span class="two-color">Contest</span></h3>
                <div class="border"></div>
            </div>
            <div class="container">
                {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %} {% include 'home/form-template.html' %}
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" class="btn btn-transparent" value="update">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

</html>
