{% extends 'news/news_base.html' %} {% block style %} {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/team_page.css' %}" /> {% endblock %}{% block left-nav %}
<ul>
    <li><a href="{% url 'news:news-page' %}"><i class="fa fa-newspaper-o" aria-hidden="true" style="padding-right:10px;"></i>news</a></li>
    <li><a href="{% url 'news:contest-page' %}"><i class="fa fa-desktop"></i>contest</a></li>
    <li><a href=""><i class="fa fa-users"></i>teams</a></li>
    <li><a href="{% url 'home:index' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
</ul>
{% endblock %} {% block body %}
<div class="post-block">
    <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
        <h2>tea<span class="two-color">ms</span> {% if user.is_superuser %}
        <a href="{% url 'news:add-team' %}" class="edit-ico"><i class="fa fa-edit">new team</i></a> {% endif %}</h2>
        <div class="border"></div>
    </div>
    {% for team in all_teams %}
    <div class="single-post">
        <div class="from-info">
            <h4>{{team.name}}</h4>
            <h5>member 1 : {{team.member1}}</h5>
            <h5>member 2 : {{team.member2}}</h5>
            <h5>member 3 : {{team.member3}}</h5>
        </div>
        {% if user.is_superuser %}
        <div class="option">
            <form action="{% url 'news:delete-team' team.id %}" method="post">
                {% csrf_token %}
                <button class="mybtn-red" type="submit"><i class="fa fa-trash fa-lg"></i></button>
            </form>
            <a class="mybtn" href="{% url 'news:edit-team' team.id %}"><i class="fa fa-edit fa-lg"></i></a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
